body{
	margin: 15px;
	background-color: #b6aba5;
}
div{
	display: block;
}
p, h2, span, h1, h3, h4, h5, h6, pre{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	border-bottom: 3px solid grey;
	display: inline;
}
pre{
	background-color: rgb(78, 78, 78);
	border-radius: 15px;
}
.main{
	background-color: #2d2d2d;
	border-radius: 15px;
	max-width: 1220px;
	margin: auto;
}
.line-col-top{
	max-width: 1220px;
	max-height: 3000px;
	padding-top: 10px;
}
.top-line{
	max-width: 1220px;
	height: 3px;
	background-color: #b6aba5;
}
.line-col-bottom{
	max-width: 1220px;
	max-height: 3000px;
	padding-bottom: 10px
}
.bottom-line{
	max-width: 1220px;
	height: 3px;
	background-color: #b6aba5;
}
.header{
	display: flex;
	margin-left: 20px;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	flex-wrap: wrap;
}
.header_title{
	flex-grow: 1;
	max-width: 200px;
}
.header_title h3{
	margin-left: 15px;
	margin-top: 10px;
	border-bottom: none;
}
.header__nav{
	width: 350px;
	height: 50px;
}
.header__nav ul {
	max-width: 465px;
	height: 50px;
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav a {
	text-decoration: none;
	display: block;
	font-family: 'Inika', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #b6aba5;
}
.header__nav a:hover{
	color: #FFFFFF;
}
.flex-container-1{
	display: flex;
	min-height: 100px;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	flex-wrap: wrap;
	overflow: hidden;
}
.flex-container{
	display: flex;
	min-height: 100px;
	justify-content: space-around;
	flex-direction: row;
	align-items: flex-start;
	align-content: stretch;
	flex-wrap: wrap;
	overflow: hidden;
}
.flex-row-el-1{
	flex-grow: 1;
	min-height: 50px;
	max-width: 450px;
	flex-shrink: 1;
}
.img_logo{
	max-width: 400px;
}
.flex-row-el{
	flex-grow: 1;
	min-height: 50px;
	padding: 10px;
	max-width: 450px;
	min-width: 200px;
}
.skill_img_style{
	width: 70px;
}
.personalite-ul{
	margin-left: 0px;
}
.personalite-ul li{
	display: inline-block;
	border: 2px solid #b6aba5;
	border-radius: 20px;
	background-color: rgb(78, 78, 78);
	margin: 5px;
}
.personalite-ul p{
	padding: 5px;
	margin: 0px;
}
.interests-ul{
	margin-left: 0px;
}
.interests-ul li{
	display: inline-block;
	border: 2px solid #b6aba5;
	border-radius: 20px;
	background-color: rgb(78, 78, 78);
	margin: 5px;
}
.interests-ul p{
	padding: 5px;
	margin: 0px;
}
.education_h {
	padding: 0px;
	margin-bottom: 3px;
}
.education_p {
	padding: 0px;
	margin: 0px
}
.experience-p {
	padding: 0px;
	margin: 0px
}
.experience-h {
	padding: 0px;
	margin-bottom: 3px;
}
.footer-container{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	flex-wrap: wrap;
	overflow: hidden;
}
.footer-el{
	flex-grow: 1;
	min-height: 50px;
	padding: 10px;
	max-width: 350px;
	min-width: 200px;
}
.footer-container p{
	padding: 0px;
	margin: 0px;
	color: rgb(109, 109, 109);
}
.footer_a{
	text-decoration: none;
	color: #b6aba5;
}
.footer-el img{
	height: 46px;
}
.footer_a:hover {color: white;}
.code-comand{
	color: #d24a43;
}
.code-funct{
	color: goldenrod;
}
.code-num{
	color:dodgerblue;
}